<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="display-4" th:text="${titulo}"></h1>
    <hr/>
    <form th:action="@{/form}" th:object="${user}" method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="identificator">Identificador</label>
                    <input
                            type="text"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('identificator')} ? is-invalid : ''"
                            id="identificator"
                            th:field="*{identificator}"
                            placeholder=""/>
                    <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('identificator')}"
                            th:errors="*{identificator}">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                            type="text"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('name')} ? is-invalid : ''"
                            id="name"
                            th:field="*{name}"
                            placeholder="Digite o seu nome"/>
                    <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('name')}"
                            th:errors="*{name}">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input
                            type="text"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('lastName')} ? is-invalid : ''"
                            id="lastName"
                            th:field="*{lastName}"
                            placeholder="Digite o seu sobrenome"/>
                    <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('lastName')}"
                            th:errors="*{lastName}">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input
                    type="text"
                    class="form-control"
                    th:classappend="${#fields.hasErrors('username')} ? is-invalid : ''"
                    id="username"
                    th:field="*{username}"
                    placeholder="Digite o nome de usuário"/>
            <div
                    class="invalid-feedback"
                    th:if="${#fields.hasErrors('username')}"
                    th:errors="*{username}">
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    class="form-control"
                    th:classappend="${#fields.hasErrors('password')} ? is-invalid : ''"
                    type="password"
                    id="password"
                    th:field="*{password}"
                    placeholder="Digite sua senha">
            <div
                    class="invalid-feedback"
                    th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input
                            class="form-control"
                            th:classappend="${#fields.hasErrors('email')} ? is-invalid : ''"
                            type="text"
                            id="email"
                            th:field="*{email}"
                            placeholder="Digite seu email">
                    <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('email')}"
                            th:errors="*{email}">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="account">Conta</label>
                    <input
                            class="form-control"
                            th:classappend="${#fields.hasErrors('account')} ? is-invalid : ''"
                            type="number"
                            min="5"
                            max="5000"
                            id="account"
                            th:field="*{account}"
                            placeholder="Digite sua conta">
                    <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('account')}"
                            th:errors="*{account}">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="birthDate">Data de Nascimento</label>
                    <input
                            class="form-control"
                            th:classappend="${#fields.hasErrors('birthDate')} ? is-invalid : ''"
                            type="date"
                            min="5"
                            max="5000"
                            id="birthDate"
                            th:field="*{birthDate}"
                            placeholder="dd/mm/aaaa">
                    <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('birthDate')}"
                            th:errors="*{birthDate}">
                    </div>
                </div>
            </div>
        </div>

        <input
                class="btn btn-primary btn-lg btn-block"
                type="submit"
                value="Enviar"/>
    </form>
</div>



<!--<form th:action="@{/form}" method="post">-->
<!--    <div>-->
<!--        <label for="username">Username</label>-->
<!--        <div>-->
<!--            <input type="text" name="username" id="username" th:value="${user.username}"/>-->
<!--        </div>-->
<!--        <div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="password">Password</label>-->
<!--        <div>-->
<!--            <input type="password" name="password" id="password"/>-->
<!--        </div>-->
<!--        <div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="email">E-mail</label>-->
<!--        <div>-->
<!--            <input type="text" name="email" id="email"/>-->
<!--        </div>-->
<!--        <div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}" th:value="${user.email}"></div>-->
<!--    </div>-->
<!--    <div>-->
<!--        <div>-->
<!--            <input class="btn btn-primary" type="submit" value="Enviar"/>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

</body>
</html>