<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="display-4" th:text="${titulo}"></h1>
    <hr/>
    <ul class="list-group">
        <li class="list-group-item" th:text="${user.name}"></li>
        <li class="list-group-item" th:text="${user.lastName}"></li>
        <li class="list-group-item" th:text="${user.username}"></li>
        <li class="list-group-item" th:text="${user.password}"></li>
        <li class="list-group-item" th:text="${user.email}"></li>
        <li class="list-group-item" th:text="${user.identificator}"></li>
    </ul>
</div>

</body>
</html>